p {
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
	background-color: #A9A9A9;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
    /* 
      list-style: none = No marker is shown 
    */
}
a {
  color: #34495e;
  text-decoration: none;
}
.posttekst {
	display:block;
	font-size: 16px;
	float:left;
  margin-left: 10px;
}
.pilt{
  display: block;
  margin-left: 10px;
}
.logo {
  margin: 0;
  font-size: 1.1em;
	margin-right:12px;
}
.logo2 {
	float:left;
	margin-left: 15px;
	margin-top: 6px;
}
.header {
  padding-top: .5em;
  padding-bottom: .5em;
  border: 1px solid #646174;
  background-color: #E78680 ;
  box-shadow: 0px 0px 14px 0px #645D5A;
	border-radius: 5px;
	display:flex;
	flex-direction: row;
  justify-content: space-between;
	align-items: flex-end;
}
.nav {
  margin-top: 5px;
  margin-left: 12px;
}
.nav a { /*Descendant Selector*/
  padding: 10px 15px;
  text-align: center;
  display: block;
  color: #34495e;
  font-size: 30px;
}
.nav a:hover { /*Descendant Selector*/
  background-color: #CCC0BB;
  color: #092747;
	border-radius: 10px;
}
.header,
.nav {
  display: flex;
}
.header {
  flex-direction: column;
  align-items: center;
}
hr.rounded {
	border-top: 2100px solid #E78680;
	border-radius: 10px;
	margin-top: 45px; 
	margin-right: 12px;
	width:18.5%;
	float:right;
}
hr.rounded2 {
	border-top: 2100px solid #E78680;
	border-radius: 10px;
	margin-top: 45px; 
	margin-left: 12px;
	width:18.5%;
	float:left;
}
.wrapper {
	display: flex;
	flex-direction: row;
	margin-top: 45px;
	background-color:#CFCFCF;
	margin-right: 21%; 
	margin-left: 21%;
	border-radius: 20px;   
}
.wrapper2 {
	display: flex;
	flex-direction: row;
	margin-top: 25px;
	background-color:#CFCFCF;
	margin-right: 21%; 
	margin-left: 21%;
	border-radius: 20px;  
}
.header {
  flex-direction: row;
  justify-content: space-between;
}
.posttekst ~ .tekst{ /*General Sibling Selector (~)*/
  display: block;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}
.logo2 ~ .likebutton { /*General Sibling Selector (~)*/
  float:left;
	margin-left:15px;
  margin-bottom: 10px;
}